.multimedia-slideshow {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    --speed: 1.5s;
}

.multimedia-slideshow .slide {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
    transition: opacity var(--speed) ease-in-out;
}

.multimedia-slideshow .slide.previous {
    z-index: 1;
    opacity: 0;
}

.multimedia-slideshow .slide.active {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
}

.multimedia-slideshow .slide.initial {
    transition: none !important;
}

.multimedia-slideshow img,
.multimedia-slideshow video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
